/* -------------- Global Styles */

body {
    background-color: rgb(1,59,56);
    /*background-image: url(/assets/images/background-image.jpg);*/
    background-size: auto;
    background-repeat: no-repeat;
    
}

/* -------------- Heading */

h1 {
    padding-top: 2%;
    text-align: center;
}

/* -------------- Page content */

.site-content {
    background-color: white;
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}




img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
